/*==========================================
                LAYOUT
==========================================*/
body {
    position: relative;
    display: flex;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
    font-family: $font_base;
    font-size: 16px;
    line-height: 1.5;
    color: $color_text;
}

.wrapper {
    @include clearfix;
    position: relative;
    max-width: $wrapper;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.main {
    padding-bottom: 70px;
}
.section {
    margin-top: 35px;
    @media screen and (min-width: $screen-sm-up) {
        margin-top: 70px;
    }

    &-title {
        text-align: center;
        margin-bottom: 25px;
        @media screen and (min-width: $screen-sm-up) {
            margin-bottom: 50px;
        }
        &__icon {
            margin-bottom: 15px;
            @media screen and (min-width: $screen-sm-up) {
                margin-bottom: 25px;
            }
        }

        &__paragraph {
            margin-top: 15px;
            max-width: 520px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}