mixin header
    // HEADER
    header.header
        +b.NAV.menu.nav.justify-content-center
            - var header_nav = ['Личная информация', 'Опыт', 'О себе']
            each item in header_nav
                +e.item
                    +e.A(href="#").link= item
    // end HEADER
