.section-background {
    height: 280px;
    margin-bottom: -80px;
    background: url('../images/background.jpg') top center no-repeat fixed;
    background-size: cover;
    box-shadow: inset 0 -150px 100px -50px #fff;
}