extends _layout.pug

block variables
    - var pageTitle = "Index"
    - var user_authenticated = false

block content
    h1 Hello, world!

block scripts
    script.
        console.log('Initial index.html')